.header{
    height: 300px;
    background-color: #000;
}

.header__list {
    display: flex;
    list-style: none;
    background-color: #000;
}

.header__listItem {
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}
.header__listItem:hover{
    color: rgb(221, 25, 25);
}